:root {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: #102c57;
  text-align: justify;
  color: #fefaf6;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

body {
  overflow-y: scroll;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 32px;
  color: #eadbc8;
}

img.profile {
  border-radius: 100%;
  width: 250px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.large-intro {
  font-size: 150px;
  margin-top: 250px;
  margin-bottom: 500px;
  position: relative;
  display: flex;
  width: 100%;
  text-align: center;
  animation-name: fadein;
  animation-duration: 2s;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: calc(1vh + 1vw);
  margin: auto;
}

.profile-image {
  display: flex;
  margin: auto;
}
.description {
  text-align: justify;
  margin-left: 25%;
  width: 50%;
}

.images-intro {
  text-align: center;
}

.images {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
  gap: 10px;
}

.explanation {
  text-align: justify;
  width: 50%;
  margin-left: 25%;
}

table,
th,
td {
  border-collapse: collapse;
  border: #fefaf6 1px solid;
  padding: 10px;
  width: 50%;
  margin-left: 25%;
}

tr.table-header {
  background-color: #eadbc8;
  color: #102c57;
}
